<a id="mlh-badge" href="https://mlh.io/seasons/na-2021/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2021-season&utm_content=white" target="new">
    <img src="/2021Website/assets/images/mlh-badge.svg" class="d-none d-sm-inline" alt="MLH Badge">
</a>
<nav class="navbar navbar-expand-lg fixed-top transparent-nav">
    <a class="navbar-brand d-flex align-items-center align-content-center" href="/index.html">
        <img class='mr-2' src="/2021Website/assets/images/phlogo.svg" width="30" height="30" alt="Pearl Hacks Logo">
        <span><b>Pearl Hacks</b> 2021</span>
    </a>
    <button class="navbar-toggler m-0 mr-sm-5 pr-sm-5" type="button" data-toggle="collapse" data-target="#navbar-dropdown"
        aria-controls="navbar-dropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbar-dropdown">
        <!-- KNOWN ISSUE: urls that go deeper than root level ex: blog/xxx.html pose a problem for long-term code organization. For now, we make all urls in the navbar start from the root ex: "/assets/styles.css" instead of "../assets/styles.css". This will break once the 2021 site is archived under oldcontent/. -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-link" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Registration
                </a>
                <div class="dropdown-menu shadow-sm transparent-nav text-dark" aria-labelledby="navbar-dropdown-link">
                    <a class="dropdown-item" href="https://pearlhacks1.typeform.com/to/PQtHVjtn" target="new">Hackers</a>
                    <a class="dropdown-item" href="https://pearlhacks1.typeform.com/to/sVqcFmjZ" target="new">Mentors</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-link" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Schedule
                </a>
                <div class="dropdown-menu shadow-sm transparent-nav text-dark" aria-labelledby="navbar-dropdown-link">
                    <a class="dropdown-item" href="/2021Website/schedule.html">Events</a>
                    <a class="dropdown-item" href="/2021Website/workshops.html">Workshops</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/2021Website/aboutus.html">
                    About Us
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/2021Website/faq.html">
                    FAQ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/2021Website/resource_list.html">
                    Resource List
                </a>
            </li>
        </ul>
    </div>
</nav>