/* FONT FACE */
@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("fonts/CaviarDreams_Bold.ttf");
    font-weight: bold;
}

/* VARIABLES & ROOT LEVEL SETTINGS*/
:root {
    --light: rgb(237, 222, 222);
    --light_transparent: rgba(237, 222, 230, 0.5);
    --light2: #C9F0F1;
    --light2_transparent: rgba(201, 240, 241, 0.5);
    --bright: rgb(214, 231, 228);
    --bright_transparent: rgba(111, 137, 110, 0.2);
    --bright2: #386D32;
    --bright2_transparent: rgba(56, 109, 50, 0.5);
    --dark: #651B3B;
    --dark_transparent: rgba(101, 27, 59, 0.3);
    --dark2: #0D1F0B;
    --dark2_transparent: rgba(13, 31, 11, 0.5);

    --primary-font: 'Proxima Nova';
    --secondary-font: 'Caviar Dreams';
}

* {
    font-family: 'Proxima Nova';
}

p {
    color: var(--dark2);
}

.container {
    max-width: 1000px;
}

/* LINKS */
a:hover {
    text-decoration: none;
    color: var(--light2);
}

a {
    color: var(--bright2)
}

/* BUTTONS */
.btn {
    border-radius: 3rem;
    color: white;
    background-color: var(--bright);
    padding: .5rem 1.5rem;
}

.btn:hover {
    background-color: var(--bright_transparent);
    color: white;
    border-color: var(--bright_transparent);
}

.btn-outline {
    border-radius: 3rem;
    color: var(--dark);
    background-color: transparent;
    border-color: var(--dark) !important;
    padding: .5rem 1.5rem;
}

.btn-outline:hover {
    background-color: var(--dark_transparent);
    color: var(--dark);
    border-color: var(--dark);
}

.jumbotron-fluid, main > header {
    /* background: linear-gradient(-45deg, var(--light), var(--light)); */
	/* background-size: 400% 400%; */
    /* animation: gradient 25s ease infinite; */
    margin-top: -60px !important;
    padding-top: 60px !important;
    background-color: #f6bbbf;
    background: url('images/jumbotron-pattern.jpg');
    background-size: contain;
}

.jumbotron-fluid .btn {
    background: linear-gradient(-45deg, rgb(109, 250, 255),rgb(174, 55, 204), rgb(216, 56, 56), rgb(235, 223, 54));
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.jumbotron-fluid {
    min-height: 80vh;
    color: var(--bright2);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* MAIN */
main {
    min-height: 100vh;
    margin-top: 3.5rem
}

main > header {
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 5.5rem !important;
}

main > header > h1 {
    color: var(--bright2);
}

.display-4 {
    font-weight: bold;
    letter-spacing: .5rem;

}

.jumbotron-fluid .lead {
    font-family: 'Dancing Script', cursive;
}

main h1,
main h2 {
    font-family: 'Caviar Dreams';
    font-weight: bold;
}

/* SPONSORS */
#sponsors img:hover {
    opacity: .6;
    transition: all .3s;
}

#sponsors div {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.pearl img {
    max-height: 200px;
}

.gold img {
    max-height: 150px;
    max-width: 300px;
}

.silver img, .custom img {
    max-height: 100px;
}

/* COLLAPSABLE CONTENT */

.collapser {
    color: var(--dark_transparent);
    font-size: 1.25rem;
    padding: 1rem 0rem;
    padding-left: 1rem;
    font-weight: normal !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    border: 1px solid var(--dark_transparent);
    border-radius: 3rem;
    cursor: pointer;
}

.collapser:after {
    content: "\2212";
}

.collapser:hover {
    background-color: var(--dark_transparent);
}

.collapsed {
    border-bottom: 1px solid var(--dark);
    display: flex;
    justify-content: space-between;
    content: "\2212";
    align-items: center;
    padding-right: 1rem;
    border: 1px solid var(--dark);
    color: var(--dark);
    border-radius: 3rem;
    padding-left: 1rem;
}

.collapsed:after {
    content: '\002B' !important;
}

.collapser + div {
    padding-left: 1rem;
    /* border-left: 1px solid var(--light); */
}

/* TABLES */
.table {
    max-width: 900px;
}

.table .row {
    border-bottom: 1px solid var(--bright);
}

.table .row:nth-of-type(odd) {
    /* background-color: var(--bright_transparent); */
}

.table .th {
    background-color: var(--bright) !important;
}

/* HEADSHOT */
.headshot {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-size: cover !important;
    text-align: center;
}

/* NAVBAR */
.navbar {
    background-color: transparent;
}

.navbar-nav a {
    color: white !important;
}

.navbar-brand span,
.navbar-brand b {
    font-family: var(--secondary-font) !important;
    color: white;
}

.navbar-toggler {
    border: none;
    color: white;
}

.navbar-toggler:after {
    content: none !important;
}

.dropdown-menu {
    border: none; 
    background-color: var(--light);
}

.dropdown-menu a:active, .dropdown-menu a:hover {
    color: white;
    background-color: var(--light_transparent);
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--bright2);
    color: var(--light_transparent) !important;
}

footer p, footer i {
    color: var(--light_transparent) !important;
}

footer ul {
    list-style-type: none;
}

footer ul li i {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--light) !important;
}

footer ul li i:hover {
    color: var(--light_transparent) !important;
}

footer h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: var(--light2);
}

footer a {
color: var(--light)
}

footer a:hover {
    color: var(--light_transparent);
    transition: ease-in all;
}

#footer-border {
    background-image: url('images/footer-border.svg');
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x ;
    width: 100%;
    height: 100px;
    background-color: white !important;
}